---
import SectionLayout from '../layouts/SectionLayout.astro';
---

<SectionLayout routeKey="notFound">
  <h1>Page not found</h1>
  <p>Sorry, this page doesn't exist.</p>
  <p><a href="/">Back to home</a></p>
</SectionLayout>
