---
import SectionLayout from '../layouts/SectionLayout.astro';
---

<SectionLayout routeKey="about">
  <h1>About Me</h1>
  <p>My name is Varvara Polyakova.</p>
  <p>I am a diverse visual artist working across the fields of graphic design, illustration and ceramics.</p>
  <p>I graduated from the Moscow State University of Printing Arts. After graduation, I worked successfully for a long time in the field of magazine and book illustration and design.</p>
  <p>In 2012 I moved from Moscow to Berlin and I also started creating ceramics under the brand name Palavara.</p>
  <h2>See my work on Instagram: <a href="https://www.instagram.com/palavara_ceramics/" target="_blank" rel="noopener">palavara_ceramics</a></h2>
  <p>A few years ago I opened a Palavara-studio in Wedding, where I produce my ceramics and run workshops for children and adults.</p>
  <h2>You can buy my ceramics in my Etsy shop: <a href="https://www.etsy.com/shop/PALAVARA" target="_blank" rel="noopener">www.etsy.com/shop/PALAVARA</a></h2>
  <p>I'd be more than happy to discuss any potential projects or collaborations.</p>
  <p>Please contact me via e-mail: <a href="mailto:varya@palavara.com">varya@palavara.com</a></p>
</SectionLayout>
