---
import SectionLayout from '../layouts/SectionLayout.astro';
---

<SectionLayout routeKey="birthdayParties">
  <h1>Birthday Parties</h1>
  <p>Host a pottery birthday party for kids or adults at Palavara Studio in Berlin.</p>

  <h2>How to book</h2>
  <p><a href="mailto:varya@palavara.com">varya@palavara.com</a></p>

  <p><em>(Full content to be ported from <code>src/routes/birthdayParties/BirthdayParties.tsx</code>.)</em></p>
</SectionLayout>
