---
import SectionLayout from '../layouts/SectionLayout.astro';
---

<SectionLayout routeKey="datenschutz">
  <h2>Datenschutzerklärung</h2>
  <br />
  <p>Der Schutz Ihrer persönlichen Daten ist mir ein wichtiges Anliegen. Nachfolgend informiere ich Sie darüber, welche personenbezogenen Daten auf dieser Website erhoben werden und wie sie verwendet werden.</p>
  <br />
  <h3>1. Verantwortliche Stelle</h3>
  <br />
  <p>Verantwortlich für die Datenverarbeitung auf dieser Website ist:</p>
  <br />
  <p>**Palavara Studio**</p>
  <p>Freiberuflerin: Varvara Polyakova</p>
  <p>Steegerstr. 1A</p>
  <p>13359 Berlin</p>
  <p>Deutschland</p>
  <p>E-Mail: [varya@palavara.com](mailto:varya@palavara.com)</p>
  <br />
  <h3>2. Erhebung und Speicherung personenbezogener Daten</h3>
  <br />
  <p>Diese Website kann grundsätzlich ohne Angabe personenbezogener Daten besucht werden.</p>
  <br />
  <p>Personenbezogene Daten werden nur erhoben, wenn Sie mir diese freiwillig mitteilen, z. B.:</p>
  <br />
  <p>* per E-Mail</p>
  <p>* im Rahmen einer Anfrage oder Buchung</p>
  <br />
  <p>Die von Ihnen übermittelten Daten werden ausschließlich zur Bearbeitung Ihrer Anfrage und zur Kommunikation mit Ihnen verwendet.</p>
  <br />
  <h3>3. Kontaktaufnahme per E-Mail</h3>
  <br />
  <p>Wenn Sie mir per E-Mail Anfragen senden, werden Ihre Angaben inklusive der von Ihnen angegebenen Kontaktdaten gespeichert, um Ihre Anfrage zu bearbeiten. Diese Daten werden nicht ohne Ihre Einwilligung weitergegeben.</p>
  <br />
  <h3>4. Cookies</h3>
  <br />
  <p>Diese Website **verwendet keine Cookies**.</p>
  <br />
  <h3>5. Weitergabe von Daten</h3>
  <br />
  <p>Eine Weitergabe Ihrer personenbezogenen Daten an Dritte erfolgt nicht, es sei denn, dies ist zur Erfüllung Ihrer Anfrage erforderlich oder gesetzlich vorgeschrieben.</p>
  <br />
  <h3>6. Speicherdauer</h3>
  <br />
  <p>Ihre personenbezogenen Daten werden nur so lange gespeichert, wie dies für die Bearbeitung Ihrer Anfrage erforderlich ist oder gesetzliche Aufbewahrungspflichten bestehen.</p>
  <br />
  <h3>7. Ihre Rechte</h3>
  <br />
  <p>Sie haben das Recht:</p>
  <br />
  <p>* Auskunft über Ihre gespeicherten personenbezogenen Daten zu erhalten</p>
  <p>* Berichtigung unrichtiger Daten zu verlangen</p>
  <p>* die Löschung Ihrer Daten zu verlangen, sofern keine gesetzlichen Aufbewahrungspflichten entgegenstehen</p>
  <p>* die Einschränkung der Verarbeitung Ihrer Daten zu verlangen</p>
  <br />
  <p>Bitte wenden Sie sich hierzu per E-Mail an: [varya@palavara.com](mailto:varya@palavara.com)</p>
  <br />
  <h3>8. Änderung dieser Datenschutzerklärung</h3>
  <br />
  <p>Ich behalte mir vor, diese Datenschutzerklärung bei Bedarf anzupassen, um sie an aktuelle rechtliche Anforderungen anzupassen oder Änderungen meiner Leistungen umzusetzen.</p>
  <br />
  <p>Stand: Januar 2026</p>
</SectionLayout>
