---
import SectionLayout from '../layouts/SectionLayout.astro';
import sectionStyles from '../components-styles/Section.module.scss';
---

<SectionLayout routeKey="firingService">
  <div class={sectionStyles.mainText}>
    <h1>FIRING SERVICE</h1>
    <p>8€ / kg bisque firing</p>
    <p>10€/kg glaze firing</p>
    <br />
    <h2>Entire Kiln Cost:</h2>
    <p>(bisque firing)</p>
    <p>€80 Large Kiln (100l) / €60 Small Kiln (66l) </p>
    <br/>
    <p>(glaze firing 1130° or 1235°)</p>
    <p>€95 Large Kiln (100l) /€75 Small Kiln (66l) </p>
  </div>
</SectionLayout>
