---
import SectionLayout from '../layouts/SectionLayout.astro';
---

<SectionLayout routeKey="impressum">
  <h1>Impressum</h1>
  <h2>Angaben gemäß §5 TMG</h2>
  <p>
    Palavara Studio<br/>
    Freiberuflerin: Varvara Polyakova<br/>
    Studio address:<br/>
    Steegerstr. 1A<br/>
    13359 Berlin<br/>
    Deutschland
  </p>
  <p>E-Mail: <a href="mailto:varya@palavara.com">varya@palavara.com</a></p>

  <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
  <p>
    Varvara Polyakova<br/>
    Steegerstr. 1A<br/>
    13359 Berlin
  </p>
</SectionLayout>
