---
import SectionLayout from '../layouts/SectionLayout.astro';
import sectionStyles from '../components-styles/Section.module.scss';
---

<SectionLayout routeKey="membership">
  <div class={sectionStyles.mainText}>

    <h1>MEMBERSHIP</h1>
    <p>We welcome ceramists to our studio.</p>
    <p>We have a wonderful space, tools and materials so you can work independently on your own projects.</p>
    <p>If you have the knowledge, skills and ability to work with clay, but don't have your own equipped pottery
      studio, we offer membership to our ceramic co-working space!</p>
    <p>You will have your own shelf to store your personal materials, access to the pottery wheels and kilns. You may
      also bring and work with your own masses and glazes, as long as they match the characteristics of our firing
      regimes.</p>

    <p>Contact us and we'll send you the details: palavarastudio@gmail.com</p>

    <br/>
    <h3>Full Membership</h3>
    <ul>
      <li>Unlimited check-ins</li>
      <li>Cancellation period: until the end of the current month + 1 full calendar month</li>
      <li>Price: €180 per month</li>
      <li>Material fee: €5 per kg of raw clay (this includes the clay itself, access to all studio glazes, and kiln firing)</li>
    </ul>

    <br/>
    <h3>Flexible Membership</h3>
    <ul>
      <li>4 check-ins per month (you choose the days)</li>
      <li>Cancellation period: until the end of the current month + 1 full calendar month</li>
      <li>Price: €100 per month</li>
      <li>Material fee: €5 per kg of raw clay (this includes the clay itself, access to all studio glazes, and kiln firing)</li>
    </ul>
  </div>
</SectionLayout>
