---
import SectionLayout from '../layouts/SectionLayout.astro';
import sectionStyles from '../components-styles/Section.module.scss';
---

<SectionLayout routeKey="rentASpace">
  <div class={sectionStyles.mainText}>
    <h1>RENT A SPACE</h1>
    <p>Contact us if you would like to rent our studio for your event, be it a workshop or a birthday party.</p>
  </div>
</SectionLayout>
