$container-padding: 20px;
$logo-size: 124px;
$instagram-logo-size: 25px;

$color-yellow: #ffff00;
$color-white: #ffffff;
$color-blue: #0054CF;

.app-container {
  width: 100%;
  min-height: 100%;
  background: gray;

  display: grid;
  grid-template: auto / 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  padding: 20px;
  justify-content: flex-start;
}

.header {
  width: 100%;
  display: grid;
  grid-template: 1fr / #{$logo-size} minmax(324px, 20%) 1fr;
  grid-gap: 20px;
}

.logo {
  width: $logo-size;
  height: $logo-size;

  svg {
    fill: $color-yellow;
    stroke: $color-yellow;
  }
}

.title {
  display: flex;
  align-items: center;
  background-color: rgba($color-blue, 0.7);
  min-width: 324px;
  padding: 20px;
  color: $color-yellow;
  font-size: 20px;
  font-weight: 500;
}

.section-header {
  display: grid;
  color: $color-yellow;
}

.links {
  justify-self: flex-end;
  align-content: flex-start;
  justify-items: flex-end;
  display: grid;
  grid-template: auto / 1fr #{$instagram-logo-size};
  grid-column-gap: 10px;
  font-weight: 500;
  font-size: 16px;
}

.instagram-logo {

  svg {
    width: $instagram-logo-size;
    height: $instagram-logo-size;

    fill: $color-yellow;
    stroke: $color-yellow;
  }
}

.section-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
}

.section-menu-item {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px;

  cursor: pointer;

  &:after {
    content: "|";
    position: absolute;
    right: -7px;
    width: 0;
    cursor: default;

  }

  &:last-child {
    padding-right: 0;

    &:after {
      content: "";
      right: 0;
    }
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template: 1fr / #{$logo-size} minmax(324px, 20%) 1fr;
  grid-gap: 20px;

}

.menu {
  align-self: flex-start;
  grid-column: 2;
  background-color: rgba($color-blue, 0.7);
  min-width: 324px;

  padding: 20px 20px 20px 0;
  color: $color-white;
  font-size: 20px;
  text-transform: uppercase;
}

.menu-item {
  padding: 5px 10px;
  border-bottom: 1px solid $color-white;
  line-height: 1;

  &:last-child {
    border-bottom: none;
  }

  cursor: pointer;
}

.parent-menu-item-wrapper {
  border-bottom: 1px solid $color-white;

}

.parent-menu-item-wrapper-active {
    border-bottom: none;
}

.parent-menu-item {
  color: $color-yellow;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
}

.child-menu-item {
  color: $color-white;
  padding: 5px 57px;
  line-height: 1;
  font-weight: 300;
  text-transform: lowercase;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    border-color: $color-white;
    border-style: solid;
    border-width: 1px 0 0 0;
    height: 10px;
    top: 11px;
    left: 0;
    width: 47px;

  }
}