@import "../styles/global.module";

$instagram-logo-size: 25px;

.links {
  justify-self: flex-end;
  align-content: flex-start;
  justify-items: flex-end;
  display: grid;
  grid-template: auto / 1fr #{$instagram-logo-size};
  grid-column-gap: 10px;
  font-weight: 500;
  font-size: 16px;
}

.hidden-on-mobile {
  @media (max-width: 500px) {
    display: none;
  }
}

.links-section {
  color: $color-black
}

.links-home {
  color: $color-yellow;

  @media (max-width: 500px) {
    color: $color-blue;
  }
}

.instagram-logo {
  svg {
    width: $instagram-logo-size;
    height: $instagram-logo-size;

  }

  @media (max-width: 500px) {
    fill: $color-blue;
    stroke: $color-blue;
  }

  @media (min-width: 501px) {
    &.links-blue {
      fill: $color-black;
      stroke: $color-black;
    }

    &.links-yellow {
      fill: $color-yellow;
      stroke: $color-yellow;
    }
  }
}
