@import '../styles/global.module';

.logo {
  width: $logo-size;
  height: $logo-size;
}

.logo-blue {
  svg {
    fill: $color-blue;
    stroke: $color-blue;
  }
}

.logo-yellow {
  svg {
    fill: $color-yellow;
    stroke: $color-yellow;
  }
}