@import "../styles/global.module";

.section-menu-blue{}
.section-menu-yellow{}

.section-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
}

.section-menu-item {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px;

  cursor: pointer;

  &:after {
    content: "|";
    position: absolute;
    right: -7px;
    width: 0;
    cursor: default;
  }

  &:last-child {
    padding-right: 0;

    &:after {
      content: "";
      right: 0;
    }
  }


  &.section-menu-blue{
    color: $color-blue;
  }
  &.section-menu-yellow{
    color: $color-yellow;
  }
}